body{
    font-family: 'Tangerine', serif;
    background-color: #gggggg;
    font-size: 50px;
    margin:10;
    padding:10;
}
#nav-bar{
    margin-bottom:0px;
    padding:0;
    background-color: blueviolet;
}
